*
{
	margin: 0;
	padding: 0;
}

.header
{
	position: relative;
	margin: 0 auto;
}

.header_img
{
	position: absolute;
	top: 50%;
}

.body
{
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.index_body
{
	margin: 0 auto;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
}

.index_text
{
	margin: 0 auto;
	position: relative;
	top: 0.32rem;
}

.index_text_title
{
	position: absolute;
	top: .48rem;
	left: .48rem;
}

.index_text_p
{
	position: absolute;
	top: 1.2rem;
	left: .48rem;
}

.bottom_cover
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin:0 auto;
}

.bottom_cover_img
{
	position: relative;
	top: 0.42rem;
	bottom: 0;
	left: 0;
	right: 0;
	margin:0 auto;
	margin-top: 0.24rem;
}

.top_cover
{
	position: absolute;
	top: : 0;
	left: 0;
	right: 0;
	margin:0 auto;
}

.button_box
{
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.button_box_higher
{
	position: absolute;
	bottom: 1.5rem;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.button_show
{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: .24rem;
}

.button_img
{
	position: absolute;
	top: 0;
}

.button_text
{
	position: absolute;
	bottom: 0;
}


.title
{
	margin-top: 0.56rem;
}

.title_text
{
	position: absolute;
	left: .4rem;
	top: .56rem;
}

.middle
{
	position: relative;
	top: .48rem;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.middle_top
{
	position: absolute;
	top: 0;
}


.middle_top_img
{
	position: absolute;
	top: 0;
	left: 0;
}

.middle_bottom
{
	position: absolute;
	bottom: 0;
}
.middle_bottom_img
{
	position: absolute;
	bottom: 0;
	right: 0;
}

.data_list
{
	position: absolute;
	left: 0.4rem;
	margin-top: 0.24rem;
}

.line
{
	margin-top: -0.12rem;
}

input
{
	margin-left: 0.04rem;
}


.question_title
{
	position: relative;
	margin-top: 0.8rem;
	left: 0.4rem;
}


.question_option_list
{
	position: relative;
}


.question_option
{
	position: relative;
	margin-top: .48rem;
	left: .4rem;
}

.round
{
	float: left;
	position: relative;
	top: .06rem;
}

.question_option_text
{
	float: left;
	position: relative;
	left: .26rem;
}

.option_text
{
	position: relative;
	left: .4rem;
}

.buttons
{
	position: absolute;
	bottom: 0;
}

.buttons_img
{
	position: absolute;
	top: 0rem;
}

.next_button
{
	position: absolute;
	bottom: .4rem;
	right: .28rem;
}
.last_button
{
	position: absolute;
	bottom: .4rem;
	left: .28rem;
}

.next_button_img
{
	position: absolute;
	top: .24rem;
	right: .28rem;
}
.last_button_img
{
	position: absolute;
	top:  .24rem;
	left: .28rem;
}

.question_option_img
{
	position: relative;
	left: .4rem;
	margin-top: 0.32rem;
}

.question_img_box
{
	float: left;
	position: relative;
	left: .4rem;
}

.round_img
{
	position: relative;
	top: 50%;
	margin-top: -0.16rem;
}


.logo
{
	position: relative;
	top: 1.17rem;
	margin: 0 auto;
}


.last_text
{
	position: relative;
	top: 1.17rem;
	margin: 0 auto;
}

.text_1
{
	margin-top: .6rem;
	margin-bottom: .32rem;
}


.text_2
{
	margin-bottom: .32rem;
}

.text_3
{
	display: inline;
}

.text_4
{
	margin-top: .32rem;
}


.img_text
{
	position: absolute;
	left: 0.4rem;
	margin-top: .24rem;
}

.bottom_img
{
	position: absolute;
	right: 0;
	top: 0;
}

.top_img
{
	position: absolute;
	left: : 0;
	top: 0;
}


.type_text_1
{
	position: absolute;
	top: 1.62rem;
	left: 0.88rem;
}

.type_text_2
{
	position: absolute;
	top: 3.3rem;
	left: 0.88rem;
}

.type_text_left
{
	float: left;
}

.type_text
{
	float: left;
}